/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2017, 3:07:32 PM
    Author     : RubySenpaii
*/

.portal-heading {
    height: 150px;
}

.portal-title {
    text-align: center;
    padding: 40px;
    font-size: 50px;
    color: red;
}

.login-form {
    margin: 20px 0 20px 0;
}

.login-input {
    text-align: center;
}

.registration-panel {
    margin: 50px 0 0 0;
}


.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.customer-header {
    margin: 0 auto;
    width: 70%;
    padding: 20px;
}

.col-header {
    padding: 0;
}

.btn-header {
    width: 100%;
    height: 50px;
    line-height: 35px;
}

a.btn-header {
    background-color: #e6e6e6;
}

.customer-content {
    margin: 30px;
}

.product-layout {
    margin: 0 10px 0 10px;
}

.product-box {
    margin: 5px 30px 15px 20px;
    height: 300px;
    background-color: #e6e6e6;
}

.product-image {
    margin: 10px 0 10px 0;
    width: 100%;
    height: 170px;
}

.product-detail-image {
    margin: 10px 0 10px 0;
    width: 100%;
    height: 400px;
}

.product-detail-description {
    margin: 10px 0 10px 0;
    overflow-wrap: break-word;
}

.product-detail {
    color: #999999;
}

.table-review {
    background-color: white;
    width: 100%;
}

span.red {
    background: red;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em; 
    font-weight: bold;
}

.badge {
    font-size: 0.7em;

    display: block;
    position: absolute;
    top: 0.5em;
    right: 1.5em;
    width: 2.2em;
    height: 1.8em;
    line-height: 1em;
    border-radius: 100%;
    text-align: center;

    color: #fff;
    background: rgba(255,0,0,1);
}

.pending-box {
    border: 1px solid black;
    background-color: #f0ad4e;
    color: white;
    padding: 3px;
}

.hold-box {
    border: 1px solid black;
    background-color: red;
    color: white;
    padding: 3px;
}

.delivered-box {
    border: 1px solid black;
    background-color: green;
    color: white;
    padding: 3px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}